@import './base.scss';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@font-face {
  font-family: 'BadScript';
  font-style: normal;
  src: local('BadScript-Regular'), url(@/assets/fonts/Bad_Script/BadScript-Regular.ttf) format('truetype');
}

#app {
  font-weight: normal;
  margin: 0 auto;
  max-width: 80vw;
  min-height: 100vh;
  padding: 2rem;
}
